@tailwind base;
@tailwind components;
@tailwind utilities;

.vim-cursor {
    display: inline-block;
    width: 10px; /* Adjust width for desired block size */
    height: 1.2em;
    background-color: black; /* Cursor color */
    margin-left: 2px;
    vertical-align: bottom;
  }
  
  .blink {
    animation: blink-animation 0.9s steps(2, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  

.skills {

  height: 6rem;

  width: 6rem;

}

